.scrollMenuCityContainer {
    text-align: center;
    background-color: #d4d4d4;
    border: 1px solid gray;
    width: 100%;
    border-radius: 5px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: table;
}

.scrollMenuCityInnerContainer {
    padding-right: 15px;
}

.cityInnerLabel {
    padding-top: 5px;
}
